@mixin side-deco {
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: $color-gray-400;
    left: 0;
    top: calc(50% - 10px);
  }
  &:after {
    left: auto;
    right: 0;
  }
}
@mixin devide-deco {
  &:not(:first-child):before {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: $color-gray-400;
    left: 0;
    top: calc(50% - 10px);
  }
}

@mixin min-screen($b) {
  @media screen and (min-width: map-get($breakpoints, $b)) {
    @content;
  }
}

@mixin max-screen($b) {
  $limit: map-get($breakpoints, $b) - 0.02px;
  @media screen and (max-width: $limit) {
    @content;
  }
}
