<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    script(defer, src="/assets/js/index.js")
    link(rel="stylesheet", href="/assets/css/common.css")
  body
    include ../_dev/_common-header.pug
    main
      h1 TEST
      p ppp
      p dd
      p dz
      p zzzzz